'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Toggle Markdown Task'
      'submenu': [
        {
          'label': 'Toggle'
          'command': '  toggle-markdown-task:toggle'
        }
      ]
    ]
  }
]
